<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iteso.handdoctor">

    <application
        android:allowBackup="true"
        android:icon="@drawable/hand_doctor_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hand_doctor_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityMain" />
        <activity android:name=".ActivityAgenda" />
        <activity android:name=".ActivityExpedient" />
        <activity android:name=".ActivityCitas" />
        <activity android:name=".ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityLogin" />
        <activity android:name=".ActivityRegister" />
        <activity android:name=".ActivityMedical" />
        <activity
            android:name=".ActivityPatient"
            android:label="@string/title_activity_patient"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActivityChat" />
        <activity android:name=".ActivityMedicamentos"></activity>
    </application>

</manifest>